.container {
  margin-top: 85px !important;
}

.clickable, .notes-click {
  cursor: pointer;
}

.notes-click:hover, .clickable:hover {
  text-decoration: underline;
}

#filter-box {
  margin-bottom: 20px;
}

td {
  font-size: .9rem;
}

.dropdown-toggle {
  background-color: #0e3386 !important;
  border-color: #0e3386 !important;
  color: white !important;
}

.bg-light {
  background-color: #0e3386 !important;
}

p {
  font-size: .9rem;
}

.note-icon {
  color: #0e3386 !important;
}

.table-header {
  background-color: #cc3433
}

th {
  color: white;
}
