.container {
  margin-top: 85px !important;
}

.clickable, .notes-click {
  cursor: pointer;
}

.notes-click:hover, .clickable:hover {
  text-decoration: underline;
}

#filter-box {
  margin-bottom: 20px;
}

td {
  font-size: .9rem;
}

.dropdown-toggle {
  color: white !important;
}

.bg-light {
  background-color: #f7f7f7!important;
}
